<%= javascript_tag do %>
var operatorLabels = <%= raw_json ProjectQuery.operators_labels %>;
var operatorByType = <%= raw_json ProjectQuery.operators_by_filter_type %>;
var availableFilters = <%= raw_json query.available_filters_as_json %>;
var labelDayPlural = <%= raw_json l(:label_day_plural) %>;
var allProjects = <%= raw_json query.all_projects_values %>;
var filtersUrl = <%= raw_json queries_filter_path(:project_id => @query.project.try(:id), :type => @query.type) %>;
  <% filters_wrapper_id =  local_assigns[:wrapper_id] || 'query_form' %>

$(document).ready(function(){
  var wrapper = $("#<%= filters_wrapper_id%>");
  initFilters("#<%= filters_wrapper_id %>");
  <% if query.filters %>
    <% query.filters.each do |field, options| %>
      addFilter("<%= field %>", <%= raw_json query.operator_for(field) %>, <%= raw_json query.values_for(field) %>, wrapper);
    <% end %>
  <% end %>
});
<% end %>

<div class="filters-table">
  <table id="filters-table">
  </table>

  <% if User.current.logged? %>
    <div class="add-filter">
      <%= label_tag('add_filter_select', l(:label_filter_add)) %>
      <%= select_tag 'add_filter_select', filters_options_for_select(query), :name => nil %>
    </div>
  <% end %>
</div>

<%= hidden_field_tag 'f[]', '' %>
<% include_calendar_headers_tags %>
